@model IEnumerable<LibraryInformationSystem.Models.Access>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrower.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReserved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Borrower.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReserved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessId })
        </td>
    </tr>
}

</table>
