@model LibraryInformationSystem.Models.Access

@{
    Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<h3>Details</h3>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Borrower.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borrower.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReserved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReserved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
